* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

header {
  background-color: #404eed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/main.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#logo {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: -400px;
}

#logo nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#logo nav img {
  width: 140px;
  margin-top: 10px;
  margin-right: 80px;
  cursor: pointer;
}

.menu li {
  display: inline-block;
  padding: 0 30px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.menu button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 50px;
  float: right;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu button:hover {
  color: blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.down1:hover {
  color: blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.down2:hover {
  background-color: rgb(41, 41, 41);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.infor {
  margin-top: 100px;
}

.infor h1 {
  font-size: 55px;
  color: white;
  font-weight: bold;
  margin: 50px auto;
  text-align: center;
  width: 700px;
}

.infor p {
  font-size: 18px;
  color: white;
  margin: 30px auto;
  text-align: center;
  width: 700px;
  line-height: 1.8em;
}

.downl {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.down1 {
  margin-right: 20px;
  background-color: white;
  color: black;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.down2 {
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.im img {
  width: 100%;
  max-height: 100px;
  margin: 20px 0;
}

.content {
  display: flex;
  flex-direction: column;
}

section {
  margin: 60px auto;
}

section img {
  width: 900px;
}

section h1 {
  font-size: 30px;
  width: 400px;
}

section p {
  font-size: 20px;
  margin-bottom: 20px;
  width: 400px;
}

#one {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: white;
  width: 100%;
}

#one img {
  order: -1;
  margin-right: 20px;
}

#one h1,
#one p {
  margin: 50px;
}

#two {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgb(226, 225, 225);
  width: 100%;
}

#two img {
  margin-left: 0;
}

#two h1,
#two p {
  margin: 50px;
}

#three {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  width: 100%;
}

#three img {
  margin-right: 20px;
}

#three h1,
#three p {
  margin: 50px;
}

#four {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(226, 225, 225);
  width: 100%;
}

#four h1{
  margin-top: 100px;
}

#four p {
  margin: 20px;
}

#four img {
  margin-top: 20px;
  width: 1200px;
}

#five .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container img{
  width: 500px;
  height: 50px;
}

#five .contents {
  margin-bottom: 100px;
  text-align: center;
}

.contents h1{
  margin-bottom: 30px;
  font-size: 30px;
}

#five button {
  background-color: #404eed;
  color: white;
  padding: 20px 30px;
  width: fit-content;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  margin: 0 auto;
}

#four,
#five {
  background-color: rgb(226, 225, 225);
  padding: 0;
  margin: 0;
}

.contents button:hover{
  background-color: #6470eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

footer{
  background-color: #23272a;
  padding-top: 80px;
  padding-bottom: 64px;
}

#foot{
  color: white;
  width: 1200px;
  margin: 0 auto;
}

#ic{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button{
  background: transparent;
  border: none;
  color: white;
  font-size: 15px;
}

.flag-icon {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.icona{
  margin-top: 40px;
}

.icona i {
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

nav{
  padding-left: 400px;
  margin-top: -85px;
  line-height: 1.8em;
}

nav ul li:hover {
  text-decoration: underline;
}

nav h5{
  font-size: 17px;
  color: #404eed;
  padding-bottom: 10px;
}

.one1{
  display: flex;
  flex-direction: column;
  width: 200px;
  float: left;
}

.one2{
  display: flex;
  flex-direction: column;
  width: 200px;
  float: left;
}

.one3{
  display: flex;
  flex-direction: column;
  width: 200px;
  float: left;
}

.one4{
  display: flex;
  flex-direction: column;
  width: 200px;
  float: left;
}

.join{
  border-top: 1px solid #404eed;
  margin-top: 450px;
}

.join img{
  width: 140px;
  padding-left: 20px;
  margin-right: 900px;
  margin-top: 40px;
  cursor: pointer;
}

.join button{
  background-color: #404eed;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  margin: 0 auto;
}

.join button:hover {
  background-color: #6470eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

section {
  opacity: 0; /*투명도 0으로 해서 숨겨진 상태로 보여줌*/
  transform: translateY(50px); /*섹션 요소 수직으로 50px 아래로 이동*/
  transition: opacity 0.5s ease, transform 0.5s ease; /*투명도와 변형에 대하 전환 효과 0.5초간 적용*/
}

section.show {
  opacity: 1; /*투명도 1로 해서 보여줌 */
  transform: translateY(0); /*추가된 섹션 요소 수직으로 이동하지 않고 워래 위치로 돌려놓음*/
}

.btn-nav {
  position: absolute;
  right: 15px;
  top: 22px;
  font-size: 25px;
  color: beige;
  background-color: #404eed;
  border-style: none;
  cursor: pointer;
}

.bts{
  text-align: right;
  font-size: 25px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.hidden-ul{
  width: 240px;
  z-index: 2;
}

.hidden-ul img{
  width: 80px;
  height: 30px;
  position: relative;
  top: 55px;
  left: 20px;
}

.hidden-ul li{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.hidden-ul li a:hover{
  background-color: beige;
}

.hidden-ul li a{
  color: black;
  font-size: 16px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
}

.hidden-ul li a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .menu li{
    display: none;
  }

  #logo{
    display: flex;
    justify-content: space-between;
  }

  .btn-nav{
    display: block;
  }

  .hiddenbar{
    display: none;
  }

  .hiddenbar.active {
    display: block;
    position: absolute;
    right: 0;
    top: -35px;
    display: flex;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) and (max-width: 5000px){
  .btn-nav{
    display: none;
  };

  .hiddenbar{ 
    display: none;
  }

  .hiddenbar > .hidden-ul{
    display: none ;
  }


}
